/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: Roboto;
	

}
.wrapper {
	min-height: 100%;
	width: 1420px;
margin: 0 auto;

	font-family: Roboto;
	background: #F5F5F5;
overflow: hidden;

}
	
/* ------------------------------ */

.info {
}



._conteiner {
	width: 1020px;
	margin: 0 auto;
	

}
.who-we-are {
	background-color: #484c9a;
	margin: -60px auto 210px;

}

.who-we-are__body {
	padding: 82px 0px 370px 76px;
	background: url('../img/Blob_2.png') -25px 245px no-repeat;

	position: relative;
}

.who-we-are__title {
	margin-bottom: 33px;

}

.title {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;


}
.title::before{
	content: "";
	height: 18px;
	display: inline-block;
	background: url('../img/icon.png') 0 -1px no-repeat;
	padding-right: 33px;

}

.who-we-are__sub-title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	max-width: 583px;
		margin-bottom: 38px;
}

.who-we-are__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	max-width: 846px;
}
.who-we-are__image {
position: absolute;
top: 384px;
left: 50px;

}
.who-we-are__toshki {
	position: absolute;
	top: -125px;
	right: -70px;

}
.block{
	height: 300px;
}
/*_______________________________________*/

.info {
	background: url('../img/HERO_1.png') 0 0 no-repeat;

}

.info__body {
	width: 1020px;
}



.info__header {
	margin: 0px 0px 0px 120px;

	
}

.header__info {
	width: 1020px;
	padding:25px 0px 0px 0px;
}

.header__logo {
	display: inline-block;
}

.header__logo-image {
	margin-right: 10px;
}

.header__logo-title {
		position: relative;
			top: 7.5px;

}

.header__contacts {

}

.contacts__header {
	display: inline-block;
	float: right;
	position: relative;
	top: 5px;
	
}

.contacts__clock {
	display: inline-block;
	margin-right: 54px;

	
	
}
.contacts__clock::before{
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/time.svg') 0 0 no-repeat;
	position: absolute;
	top: -3px;
	left: -34px;
}

.clock__contacts {}

.clock__title {
	margin-bottom: 11px;
}

.clock__sub-title {}

.contacts__tell {
	display: inline-block;
	position: relative;
		margin-right: 56px;
}
.contacts__tell::before {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url('../img/tell.svg') 0 0 no-repeat;
	position: absolute;
	top: -3px;
	left: -34px;
}

.tell_contacts {}

.tell__title {
		margin-bottom: 11px;
}

.tell__sub-title {}

.contacts__button  {
	font-weight: 700;
		font-size: 12px;
		line-height: 35px;
		letter-spacing: 0.15px;
		text-transform: uppercase;
		padding: 12px 33px;
		background-color: #F2726F;
		border-radius: 8px;
		color: #fff;
}
.button{
		font-weight: 700;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 0.15px;
			text-transform: uppercase;
			padding: 12px 33px;
			background-color: #F2726F;
			border-radius: 8px;
			color: #fff;
			display: inline-block;
}



.info__menu {
	margin: 0px 0px 68px 120px;
	width: 1020px;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 28px;
position: sticky;
top: 0;
}

.menu__info {
}
.menu__info div,ul{
	display: inline-block;
}
.menu__list {}

.menu__iteme {
	display: inline-block;
	margin: 10px 0px ;
	padding: 20px 0px;
	font-weight: 900;
	font-size: 14px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	color: #000000;
}
.menu__iteme:not(:first-child){
	margin-left: 37px;
}
.menu__iteme:first-child{
	margin-left: 40px;
}


.menu__button {}

.button__menu {
	float: right;
margin-top: 25px;
margin-right: 48px;



}

.button__serch {
	margin-right: 22px;
}

.button__cors {}

.info__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #FFFFFF;
	max-width: 583px;
	margin-bottom: 48px;
}

.info__button {
	font-weight: 700;
		font-size: 12px;
		line-height: 35px;
		letter-spacing: 0.15px;
		text-transform: uppercase;
		padding: 12px 33px;
		background-color: #F2726F;
		border-radius: 8px;
		color: #fff;
	}
		.info_padding{
			padding-bottom: 321px;
		}



.sed {}	
._conteiner {}
.sed__body {}
.sed__title {
	color: #5D62B5;
	margin-bottom: 33px;
}
.sed__title::before {
	content: "";
	height: 18px;
	display: inline-block;
	background: url('../img/Overline Mark.svg') 0 -1px no-repeat;
	padding-right: 33px;

}
.sed__sub-title {
	font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 66px;
}
.sed__colomns {

}
.colomns__sed {
	margin-bottom: 122px;
}
.colomns__iteme {
	font-size: 0;   
		display: inline-block;
		width: 324px;
				vertical-align: top;
}
.colomns__iteme:not(:last-child){
		margin-right: 16px;
}
.iteme__dog {
}
.iteme__dog::before{
	content: "";
	width: 63px;
	height: 63px;
	display: inline-block;
	background: url('../img/dog_love_24x.png') 0 0 no-repeat;
	vertical-align: top;

}
.iteme__site::before {
	content: "";
	width: 63px;
	height: 63px;
	display: inline-block;
	background: url('../img/dog_vet_24x.svg') 0 0 no-repeat;
	vertical-align: top;

}
.iteme__live::before {
	content: "";
	width: 63px;
	height: 63px;
	display: inline-block;
	background: url('../img/dog_stream_24x.svg') 0 0 no-repeat;
	vertical-align: top;

}
.colomns__title {
	font-weight: 900;
		font-size: 19px;
		line-height: 26px;
		color: #F2726F;
				margin-bottom: 30px;

}
.colomn__text {
	font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: #4B4B4B;


}
.colomns__body{
			display: inline-block;
		width: 235px;
			margin-left: 21px;
}

.nemo {
	background: url('../img/BG Image.png') 0 0 no-repeat;

}

.nemo__body {
	padding-top: 112px;
	padding-left: 819px;
	padding-bottom: 178px;
}

.nemo__title {
font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	max-width: 411px;
	margin-bottom: 45px;

}

.nemo__button {}

.button {}



.serveces {
	background-color: #F5F5F5;
	background: url('../img/Blob__5.png') right -600px no-repeat;
	padding-top: 110px;

}

.serveces__body {
}

._conteiner {}

.serveces__title {}

.title {}

.serveces__title {
	color: #5D62B5;
	margin-bottom: 33px;
}

.serveces__title::before {
	content: "";
	height: 18px;
	display: inline-block;
	background: url('../img/Overline Mark.svg') 0 -1px no-repeat;
	padding-right: 33px;

}
.serveces__sub-title{
	margin-bottom: 78px;

}
.sub-title {
		font-weight: 900;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
}

.serveces__flex {
				font-size: 0;
				margin-bottom: 66px;
}

.flex__serverces {
}

.flex__colomn {
	display: inline-block;
	width: 324px;
		background-color: #fff;
			padding: 50px 0px;
			margin-right: 20px;
			
}
.flex__colomn:nth-child(3n){
	margin-right: 0;
}
.flex__colomn:nth-child(-n+3) {
	margin-bottom: 24px;
}
.flex__colomn:hover{
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	border-radius: 10px;
	transition-duration: 0.2s;
}


.flex__body::before{
	content: "";
	width: 100%;
	height: 63px;
	display: inline-block;
	margin-bottom: 33px;


}
.flex__Boarding::before {

		background: url('../img/dog_boarding_1x.png') center 0 no-repeat;
}
.flex__Daycare {

		background: url('../img/dog_boarding_2x.png') center 0 no-repeat;
}
.flex__Grooming {
		background: url('../img/dog_boarding_3x.png') center 0 no-repeat;
}
.flex__Plans {

		background: url('../img/dog_boarding_4x.png') center 0 no-repeat;
}
.flex__Training {

		background: url('../img/dog_boarding_5x.png') center 0 no-repeat;
}
.flex__Store{

		background: url('../img/dog_boarding_6x.png') center 0 no-repeat;
}
.flex__body {
	width: 237px;
	margin: 0 auto;
}

.flex__title {
	font-weight: 900;
		font-size: 19px;
		line-height: 26px;
		text-align: center;
		color: #F2726F;
		margin-bottom: 20px;
}

.flex__text {
	font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #4B4B4B;
}
.serveces__button {
position: relative;
top: 0;
left: 42.6%;
margin-bottom: 121px;

}

.button:hover {
		filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
			border-radius: 10px;
			transition-duration: 0.2s;
}
